.pageContainer {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.logo {
  width: 12rem;
}
.passwordContainer {
  display: flex;
  flex-direction: column;
}
.inputLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
}
.inputTitle {
  font-size: 18px;
  width: 100%;
}

.inputFill {
  all: unset;
  border: 2px solid #0f0f0f;
  background-color: #fff;
  /* border-radius: 5px; */
  height: 37px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 12px;

  padding-left: 8px;
  cursor: text;
}
.inputFill:focus {
  border-color: #0f0f0f;
}
.subbmitButton {
  outline: 0;
  border: 0;
  cursor: pointer;
  padding: 9px 35px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  background: #0f0f0f;
  color: #f0f0f0;
  border: #0f0f0f solid 2px;
  transition: transform 200ms, background 200ms;
}
.subbmitButton:hover {
  transform: translateY(-2px);
  background: #f0f0f0;
  color: #0f0f0f;
}

.homeIcon {
  position: absolute;
  color: #0f0f0f;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.homeIcon:hover {
  top: 12px;
}
@media (max-width: 500px) {
  .inputLabel {
    width: 18rem;
  }
}
@media (max-width: 440px) {
  .homeIcon {
    font-size: 40px;
  }
  .notFound {
    font-size: 34px;
  }
}
@media (max-width: 360px) {
  .notFound {
    font-size: 26px;
  }
}
