.mainContainer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.headCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.addLabelDiv {
  font-weight: 600;
  font-size: 36px;
}
.labelContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 80vw;
}
.menusContainer {
  width: 100vw;
  padding: 0 15rem;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}
.addMenuButton {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: #db3748;
  color: #f0f0f0;
  font-size: 19px;
  padding: 7px;
  transition: all 0.3s ease;
}
.addMenuButton:hover {
  background-color: #b62e3c;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
}
.saveLableButton {
  border: #db3748 solid 2px;
  color: #db3748;
  padding: 5px 12px;
  transition: all 0.3s ease;
  font-weight: 600;
}
.saveLableButton:hover {
  background-color: #db3748;
  color: #f0f0f0;
}
.multiSelect {
  width: 50%;
}
@media (max-width: 1223px) {
  .menusContainer {
    padding: 0 5rem;
  }
}
@media (max-width: 820px) {
  .menusContainer {
    padding: 0 1rem;
  }
}
@media (max-width: 668px) {
  .menusContainer {
    padding: 0;
  }
  .listContainer {
    align-items: center;
  }
}
