/* https://www.w3schools.com/howto/howto_css_image_text_blocks.asp */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.imgcontainer img {
  width: 100%;
  height: auto;
}
.textblock {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
}
