.backIcon {
  position: absolute;
  color: #0f0f0f;
  top: 15px;
  left: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.backIcon:hover {
  top: 12px;
}
.userIcon {
  position: absolute;
  color: #0f0f0f;
  top: 15px;
  right: 60px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.userIcon:hover {
  top: 12px;
}
.homeIcon {
  position: absolute;
  color: #0f0f0f;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.homeIcon:hover {
  top: 12px;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.backgroundIcon {
  color: rgba(219, 55, 72, 1);
  position: absolute;
  height: 90%;
  width: 90%;
  filter: blur(2px);
}
.loginCart {
  z-index: +1;

  background-color: #fff;

  width: 22rem;
  height: 30rem;
  -webkit-box-shadow: 3px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 7px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 7px 13px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 0;
}
.inputLabel {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.inputTitle {
  font-size: 18px;
}
.inputFill {
  all: unset;
  border: 2px solid #000;
  /* border-radius: 5px; */
  height: 37px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 12px;

  padding-left: 8px;
  cursor: text;
}
.inputFill:focus {
  border-color: #db3748;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}

.subbmitButton {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #fff;
  color: #000;
  padding: 9px 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  border: #000 solid 2px;
  transition: transform 200ms, background 200ms;
}
.subbmitButton:hover {
  transform: translateY(-2px);
  background: #000;
  color: #fff;
}
