.mainContainer {
  display: flex;
  gap: 0;
  height: 100vh;
  align-items: center;
  width: 100%;
}
.singupPhotoContainer {
  width: 120%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
  padding: 2rem;
}
.singupPhoto {
  width: 75%;
}

.signupForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.backIcon {
  position: absolute;
  color: #fff;
  top: 15px;
  left: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.backIcon:hover {
  top: 12px;
}
.userIcon {
  position: absolute;
  color: #0f0f0f;
  top: 15px;
  right: 60px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.userIcon:hover {
  top: 12px;
}
.homeIcon {
  position: absolute;
  color: #0f0f0f;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.homeIcon:hover {
  top: 12px;
}
.mobilPhotoContainer {
  display: none;
}
@media (max-width: 1116px) {
  .singupPhotoContainer {
    display: none;
  }
  .mainContainer {
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .homeIcon {
    color: #f0f0f0;
  }
  .userIcon {
    color: #f0f0f0;
  }

  .singupPhoto {
    display: none;
  }
  .mobilPhotoContainer {
    display: block;
    background-color: #db3748;
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 20px;
  }
  .mobilPhoto {
    width: 200px;
  }
}

/* Signup Component */

.formContainer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 6rem;
  gap: 15px;
}
.nameLabel {
  display: flex;
  gap: 15px;
  width: 100%;
}
.inputLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputTitle {
  font-size: 18px;
}
.dropdown {
  border: 2px solid #000;
  /* border-radius: 5px; */
  height: 37px;
  line-height: normal;
  color: #282828;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 12px;
  display: flex;
  align-items: center;
  outline: none;
}
.dropdown:focus {
  border: 2px solid #db3748;
}
.dropdown:active {
  border: 2px solid #db3748;
}

.inputFill {
  all: unset;
  border: 2px solid #000;
  /* border-radius: 5px; */
  height: 37px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 12px;

  padding-left: 8px;
  cursor: text;
}
.inputFill:focus {
  border-color: #db3748;
}
.subbmitButton {
  outline: 0;
  border: 0;
  cursor: pointer;
  padding: 9px 35px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  background: #0f0f0f;
  color: #f0f0f0;

  transition: transform 200ms, background 200ms;
}
.subbmitButton:hover {
  transform: translateY(-2px);
  background: #db3748;
  color: #f0f0f0;
}
.otherOptionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.otherOptions {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #808080;
}
.otherOptions:hover {
  color: #0f0f0f;
}
@media (max-width: 1000px) {
  .formContainer {
    justify-content: center;
  }
}
