.pageContainer {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 19rem;
  margin-top: 7rem;
}
.homeIcon {
  position: absolute;
  color: #0f0f0f;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.homeIcon:hover {
  top: 12px;
}
.backIcon {
  position: absolute;
  color: #0f0f0f;
  top: 15px;
  left: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.backIcon:hover {
  top: 12px;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.inputLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.inputTitle {
  font-size: 18px;
}
.inputFill {
  all: unset;
  border: 2px solid #0f0f0f;
  background-color: #fff;
  /* border-radius: 5px; */
  height: 37px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 12px;

  padding-left: 8px;
  cursor: text;
}
.inputFill:focus {
  border-color: #db3748;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}

.subbmitButton {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #fff;
  color: #000;
  padding: 9px 35px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  border: #000 solid 2px;
  /* transition: transform 200ms, background 200ms; */
}
.subbmitButton:hover {
  transform: translateY(-2px);
  background: #000;
  color: #fff;
}
@media (max-width: 1130px) {
  .email {
    width: 40%;
  }
}
@media (max-width: 860px) {
  .email {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .email {
    width: 60%;
  }
}
@media (max-width: 440px) {
  .homeIcon {
    font-size: 40px;
  }
  .email {
    width: 65%;
  }
}
@media (max-width: 360px) {
}
