.loginCartForm {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
}
.loginCartImage {
  height: 100vh;
  width: 65%;
}
.backIcon {
  position: absolute;
  color: #fff;
  top: 15px;
  left: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.homeIcon {
  position: absolute;
  color: #000;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.imageBlack {
  width: 100%;
  height: 100%;
}
.backIcon:hover {
  top: 12px;
}
.homeIcon:hover {
  top: 12px;
}
.imageWhite {
  display: none;
}
@media (max-width: 1000px) {
  .loginCartForm {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .loginCartImage {
    display: none;
  }
  .loginComponent {
    height: 100vh;
  }
  .backIcon {
    color: #000;
  }
  .imageWhite {
    display: block;
    width: 20rem;

    margin: -4rem 0;
  }
}

/* Login Component */
.formContainer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 50%;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.inputTitle {
  font-size: 18px;
}
.inputFill {
  all: unset;
  border: 2px solid #000;
  /* border-radius: 5px; */
  height: 37px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 12px;

  padding-left: 8px;
  cursor: text;
}
.inputFill:focus {
  border-color: #db3748;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}

.subbmitButton {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #fff;
  color: #000;
  padding: 9px 35px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  border: #000 solid 2px;
  transition: transform 200ms, background 200ms;
}
.subbmitButton:hover {
  transform: translateY(-2px);
  background: #000;
  color: #fff;
}
.otherOptionsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.otherOptions {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #808080;
}
.otherOptions:hover {
  color: #0f0f0f;
}
@media (max-width: 1000px) {
  .formContainer {
    justify-content: center;
  }
  .inputLabel {
    width: 100%;
  }
}
